GEMINI_API_KEY=AIzaSyxxxxxxxxxxxxxxxxxxxx

DB_HOST=mariadb
DB_PORT=3306
DB_USER=root
DB_PASSWORD=1234
DB_NAME=log_ai_db

REDIS_HOST=redis
REDIS_PORT=6379

APP_HOST=0.0.0.0
APP_PORT=8000

CACHE_EXPIRE_SECONDS=3600
